<div class="container">
  <div [style.width]="allFieldsPoliticalBusinessTableActive ? '60%' : '25%'">
    <h2>{{ 'MONITORING_POLITICAL_BUSINESSES_OVERVIEW.POLITICAL_BUSINESS.TITLE' | translate: { count: politicalBusinesses.length } }}</h2>
    <div class="flex">
      <bc-switch
        [label]="'MONITORING_POLITICAL_BUSINESSES_OVERVIEW.ALL_FIELDS' | translate"
        [(checked)]="allFieldsPoliticalBusinessTableActive"
        (checkedChange)="politicalBusinessTable.toggleAllFields($event)"
      ></bc-switch>
    </div>
    <app-political-business-table
      #politicalBusinessTable
      [politicalBusinesses]="politicalBusinesses"
      (politicalBusinessSelected)="
        openCountingCircleResults($event); politicalBusinessTable.toggleAllFields(false); allFieldsPoliticalBusinessTableActive = false
      "
    ></app-political-business-table>
  </div>
  <div class="right">
    @if (countingCircles.length !== 0) {
      <h2>{{ 'MONITORING_POLITICAL_BUSINESSES_OVERVIEW.COUNTING_CIRCLE_RESULT.TITLE' | translate: { count: countingCircles.length } }}</h2>
      <app-counting-circle-table
        [countingCircles]="countingCircles"
        [countingCirclesById]="countingCirclesById"
      ></app-counting-circle-table>
    } @else {
      <h2 translate>MONITORING_POLITICAL_BUSINESSES_OVERVIEW.COUNTING_CIRCLE_RESULT.TITLE_NO_DATA</h2>
      <span translate>MONITORING_POLITICAL_BUSINESSES_OVERVIEW.COUNTING_CIRCLE_RESULT.NO_DATA</span>
    }
  </div>
</div>


