.container {
  padding-top: 2rem;
  display: flex;
  column-gap: 5rem;

  .right {
    flex-grow: 1;
    width: 40%;
  }
}

::ng-deep .cdk-overlay-container .bc-filter-panel {
  min-width: fit-content !important;

  .mat-mdc-option {
    padding-right: 1rem !important;
  }
}

.flex {
  display: flex;
  justify-content: flex-end;
}
