<div class="mt-4">
  <div class="flex">
    <div>
      <bc-label [label]="'MONITORING_COCKPIT.DOMAIN_OF_INFLUENCE_TYPE' | translate"></bc-label>
      <bc-segmented-control-group
        [items]="allDoiTypeFilters"
        [multiple]="true"
        [value]="doiTypeFilter"
        (valueChange)="doiTypeFilterSelected($event)"
      ></bc-segmented-control-group>
    </div>
    <div>
      <bc-label [label]="'MONITORING_COCKPIT.STATE' | translate"></bc-label>
      <bc-segmented-control-group
        [items]="allStateFilters"
        [value]="stateFilter"
        (valueChange)="stateFilterSelected($event)"
      ></bc-segmented-control-group>
    </div>
  </div>

  <bc-table selection filter sort [dataSource]="dataSource" [sticky]="true">
    <ng-container [columnDef]="stateColumn">
      <th bc-header-cell
        filter
        filterType="list"
        [filterItems]="stateList"
        filterDisplayExpr="description"
        filterValueExpr="value"
        sort
        *headerCellDef
        >
        {{ 'MONITORING_COCKPIT.STATE' | translate }}
      </th>
      <td bc-data-cell *dataCellDef="let element">
        <div class="state-colorbox" [ngClass]="'result-state-' + element.minResultState"></div>
      </td>
    </ng-container>

    <ng-container [columnDef]="countingCircleColumn">
      <th bc-header-cell filter sort *headerCellDef>{{ 'MONITORING_COCKPIT.COUNTING_CIRCLE' | translate }}</th>
      <td bc-data-cell *dataCellDef="let element">{{ element.countingCircleWithDetails.countingCircle.name }}</td>
    </ng-container>

    @for (politicalBusiness of filteredPoliticalBusinesses; track politicalBusiness) {
      <ng-container
        [columnDef]="this.politicalBusinessColumnPrefix + politicalBusiness.id"
        >
        <th bc-header-cell
          filter
          filterType="list"
          [filterItems]="stateList"
          filterDisplayExpr="description"
          filterValueExpr="value"
          sort
          *headerCellDef
          >
          <span truncateWithTooltip tooltip>
            {{ politicalBusiness.title }}
          </span>
        </th>
        <td bc-data-cell *dataCellDef="let element">
          <app-monitoring-cockpit-grid-entry
            (openDetail)="openDetail(element.countingCircleWithDetails.countingCircle, politicalBusiness)"
            [results]="[element.resultsByPoliticalBusinessId[politicalBusiness.id]]"
            [stateDescriptionsByState]="contestCantonDefaults?.countingCircleResultStateDescriptionsByState"
            [disabled]="publishing"
            [showPublishSwitch]="
              manualPublishResultsEnabled && politicalBusiness.domainOfInfluence && politicalBusiness.domainOfInfluence.type < domainOfInfluenceTypes.DOMAIN_OF_INFLUENCE_TYPE_MU
            "
            [publishResultsBeforeAuditedTentatively]="publishResultsBeforeAuditedTentatively"
            (publishedChanged)="
              updatePublished($event, politicalBusiness.businessType, [element.resultsByPoliticalBusinessId[politicalBusiness.id]])
            "
            >
          </app-monitoring-cockpit-grid-entry>
        </td>
      </ng-container>
    }

    @for (politicalBusinessUnion of filteredPoliticalBusinessUnions; track politicalBusinessUnion) {
      <ng-container
        [columnDef]="this.politicalBusinessColumnPrefix + politicalBusinessUnion.id"
        >
        <th bc-header-cell
          filter
          filterType="list"
          [filterItems]="stateList"
          filterDisplayExpr="description"
          filterValueExpr="value"
          sort
          *headerCellDef
          >
          <span truncateWithTooltip tooltip>
            {{ politicalBusinessUnion.description }}
          </span>
        </th>
        <td bc-data-cell *dataCellDef="let element">
          <app-monitoring-cockpit-grid-entry
            (openDetail)="openDetail(element.countingCircleWithDetails.countingCircle, undefined)"
            [results]="element.resultsByPoliticalBusinessUnionId[politicalBusinessUnion.id] ?? []"
            [stateDescriptionsByState]="contestCantonDefaults?.countingCircleResultStateDescriptionsByState"
            [disabled]="publishing"
            [showPublishSwitch]="
              manualPublishResultsEnabled &&
              politicalBusinessUnion.politicalBusinesses[0].domainOfInfluence &&
              politicalBusinessUnion.politicalBusinesses[0].domainOfInfluence.type < domainOfInfluenceTypes.DOMAIN_OF_INFLUENCE_TYPE_MU
            "
            [publishResultsBeforeAuditedTentatively]="publishResultsBeforeAuditedTentatively"
            (publishedChanged)="
              updatePublished(
                $event,
                politicalBusinessUnion.politicalBusinesses[0].businessType,
                element.resultsByPoliticalBusinessUnionId[politicalBusinessUnion.id] ?? []
              )
            "
            >
          </app-monitoring-cockpit-grid-entry>
        </td>
      </ng-container>
    }

    <ng-container [columnDef]="notOwnedPoliticalBusinessColumn">
      <th bc-header-cell filter sort *headerCellDef>{{ 'MONITORING_COCKPIT.NOT_OWNED_POLITICAL_BUSINESS.TITLE' | translate }}</th>
      <td bc-data-cell *dataCellDef="let element">
        @if (element.resultsByCountingCircleId[element.countingCircleWithDetails.countingCircle.id]; as results) {
          <div
            class="not-owned-political-business-container"
            (click)="openDetail(element.countingCircleWithDetails.countingCircle, undefined)"
            >
            <span>{{
              'MONITORING_COCKPIT.NOT_OWNED_POLITICAL_BUSINESS.' + (results.length > 1 ? 'MULTIPLE' : 'SINGLE')
              | translate: { count: results.length }
            }}</span>
          </div>
        }
      </td>
    </ng-container>

    @for (politicalBusiness of filteredPoliticalBusinesses; track politicalBusiness) {
      <ng-container
        [columnDef]="this.statusBarColumnPrefix + politicalBusiness.id"
        >
        <th bc-header-cell *headerCellDef>
          <app-monitoring-cockpit-button-container
            [politicalBusiness]="politicalBusiness"
            [readOnly]="readOnly || toCheckStateFilterIsSelected || filter.active.length > 0"
            [countingCircleResults]="countingCircleResults"
            [filteredCountingCircleResults]="filteredCountingCircleResults"
            [contestCantonDefaults]="contestCantonDefaults"
            >
          </app-monitoring-cockpit-button-container>
          @if (stateFilter.length === 0) {
            <app-monitoring-cockpit-grid-status-bar
              [filteredCountingCircleResults]="filteredCountingCircleResults"
              [stateDescriptionsByState]="contestCantonDefaults?.countingCircleResultStateDescriptionsByState"
              [politicalBusinessId]="politicalBusiness.id"
              >
            </app-monitoring-cockpit-grid-status-bar>
          }
        </th>
      </ng-container>
    }

    @for (politicalBusinessUnion of filteredPoliticalBusinessUnions; track politicalBusinessUnion) {
      <ng-container
        [columnDef]="this.statusBarColumnPrefix + politicalBusinessUnion.id"
        >
        <th bc-header-cell *headerCellDef>
          <app-monitoring-cockpit-button-container
            [politicalBusinessUnion]="politicalBusinessUnion"
            [readOnly]="readOnly || stateFilter.length > 0 || filter.active.length > 0"
            [countingCircleResults]="countingCircleResults"
            [filteredCountingCircleResults]="filteredCountingCircleResults"
            [contestCantonDefaults]="contestCantonDefaults"
            >
          </app-monitoring-cockpit-button-container>
          @if (stateFilter.length === 0) {
            <app-monitoring-cockpit-grid-status-bar
              [filteredCountingCircleResults]="filteredCountingCircleResults"
              [stateDescriptionsByState]="contestCantonDefaults?.countingCircleResultStateDescriptionsByState"
              [politicalBusinessUnionId]="politicalBusinessUnion.id"
              >
            </app-monitoring-cockpit-grid-status-bar>
          }
        </th>
      </ng-container>
    }

    <ng-container [columnDef]="emptySubHeaderColumn">
      <th bc-header-cell *headerCellDef></th>
    </ng-container>

    <tr bc-header-row *headerRowDef="let row; columns: columns; sticky: true"></tr>
    <tr bc-header-row *headerRowDef="let row; columns: subHeaderColumns; sticky: true" class="sticky-sub-header"></tr>
    <tr bc-data-row
      *dataRowDef="let row; columns: columns; let i = index"
      selectionToggle
      [selectionToggleValue]="row"
      selectionRow
      [selectionRowValue]="row"
      (click)="openDetail(row.countingCircleWithDetails.countingCircle)"
      >
    </tr>
    <ng-template noDataRow>
      <tr class="bc-row-data">
        <td class="bc-cell" colspan="2" translate>MONITORING_COCKPIT.NO_DATA</td>
      </tr>
    </ng-template>
  </bc-table>
</div>
