@use '@abraxas/voting-lib/style/color' as *;
@use '@abraxas/voting-lib/style/spacing' as *;
@use '@abraxas/voting-lib/style/table' as table;

.state-colorbox {
  border-radius: 4px;
  width: 1.7rem;
  height: 1.7rem;
}

bc-segmented-control-group {
  margin-bottom: 3px;
}

::ng-deep bc-segmented-control-group .mat-button-toggle-button {
  font-size: 1rem !important;
}

::ng-deep .counting-circle-filter .mat-form-field-wrapper {
  padding-bottom: 0;
}

.not-owned-political-business-container {
  background-color: $color-grey-7;
  border: 1px solid $color-grey-6;
  min-height: 2rem;
  border-radius: 4px;
  display: flex;
  align-items: center;
  cursor: pointer;

  span {
    margin-left: 0.5rem;
  }
}

.sticky-sub-header {
  top: 103px !important; // height from the normal header, to keep the sub-header below
}

.bc-column-state {
  width: 6rem;
}

.bc-column-counting-circle {
  width: 10rem;
}

::ng-deep [class*='bc-column-id-'] {
  @include table.truncate-long-sortable-table-header();
}

.flex {
  display: flex;
  gap: 3rem;
}
