<bc-table selection class="w-full" [dataSource]="dataSource">
  <ng-container columnDef="select">
    <th bc-header-cell *headerCellDef>
      <bc-checkbox
        class="mb-0"
        (checkedChange)="toggleAllRows($event); selectedChanged.emit(selection.selected)"
        [checked]="selection.hasValue() && isAllSelected"
        [indeterminate]="selection.hasValue() && !isAllSelected"
      >
      </bc-checkbox>
    </th>
    <td bc-data-cell *dataCellDef="let element">
      <bc-checkbox
        (checkedChange)="toggleRow(element, $event); selectedChanged.emit(selection.selected)"
        [checked]="selection.isSelected(element)"
      >
      </bc-checkbox>
    </td>
  </ng-container>

  <ng-container columnDef="shortDescription">
    <th bc-header-cell *headerCellDef>
      {{ 'PROPORTIONAL_ELECTION_END_RESULT.LOT_DECISION_LIST.LISTS.SHORT_DESCRIPTION' | translate }}
    </th>
    <td bc-data-cell *dataCellDef="let element">
      {{ element.shortDescription }}
    </td>
  </ng-container>

  <tr bc-header-row *headerRowDef="let row; columns: columns"></tr>
  <tr bc-data-row
    *dataRowDef="let row; columns: columns; let i = index"
    selectionToggle
    [selectionToggleValue]="row"
    selectionRow
    [selectionRowValue]="row"
    (click)="selection.toggle(row); updateIsAllSelected(); selectedChanged.emit(selection.selected)"
  >
  </tr>
</bc-table>
