<vo-lib-dialog [header]="'PROPORTIONAL_ELECTION_END_RESULT.LOT_DECISION_LIST.TITLE' | translate" (dialogClose)="close()">
  <div content>
    <bc-table [dataSource]="dataSource">
      <ng-container columnDef="lists">
        <th bc-header-cell *headerCellDef>{{ 'PROPORTIONAL_ELECTION_END_RESULT.LOT_DECISION_LIST.LOT_DECISION.LISTS' | translate }}</th>
        <td bc-data-cell *dataCellDef="let element">{{ element.lists }}</td>
      </ng-container>
      <ng-container columnDef="winners">
        <th bc-header-cell *headerCellDef>{{ 'PROPORTIONAL_ELECTION_END_RESULT.LOT_DECISION_LIST.LOT_DECISION.WINNERS' | translate }}</th>
        <td bc-data-cell *dataCellDef="let element">{{ element.winners }}</td>
      </ng-container>
      <ng-container columnDef="actions">
        <th bc-header-cell *headerCellDef class="actions-header"></th>
        <td bc-data-cell *dataCellDef="let element">
          <bc-icon (click)="removeListLotDecision(element)" icon="remove" class="clickable-icon"></bc-icon>
        </td>
      </ng-container>

      <tr bc-header-row *headerRowDef="let row; columns: columns"></tr>
      <tr bc-data-row *dataRowDef="let row; columns: columns; let i = index"></tr>
    </bc-table>
    <bc-button
      class="mt-3"
      [label]="'PROPORTIONAL_ELECTION_END_RESULT.LOT_DECISION_LIST.ADD' | translate"
      icon="plus"
      variant="tertiary"
      (buttonClick)="addListLotDecision()"
    ></bc-button>
  </div>

  <vo-lib-button-bar footer (save)="save()" [sticky]="false" [saveLabel]="'COMMON.SAVE' | translate" (cancel)="close()"></vo-lib-button-bar>
</vo-lib-dialog>
