<bc-table [dataSource]="politicalBusinesses">
  <ng-container columnDef="select">
    <th bc-header-cell *headerCellDef>
      <bc-checkbox class="mb-0" (checkedChange)="toggleAllRows($event)"
        [checked]="selection.hasValue() && isAllSelected" [indeterminate]="selection.hasValue() && !isAllSelected">
      </bc-checkbox>
    </th>
    <td bc-data-cell *dataCellDef="let element">
      <bc-checkbox (checkedChange)="toggleRowWithValue(element, $event)"
        [checked]="selection.isSelected(element)">
      </bc-checkbox>
    </td>
  </ng-container>

  <ng-container columnDef="politicalBusinessNumber">
    <th bc-header-cell *headerCellDef>{{ 'POLITICAL_BUSINESS.NR' | translate }}</th>
    <td bc-data-cell *dataCellDef="let element">{{ element.politicalBusinessNumber }}</td>
  </ng-container>

  <ng-container columnDef="shortDescription">
    <th bc-header-cell *headerCellDef>{{ 'POLITICAL_BUSINESS.SHORT_DESCRIPTION' | translate }}</th>
    <td bc-data-cell *dataCellDef="let element">{{ element.shortDescription }}</td>
  </ng-container>

  <ng-container columnDef="doiType">
    <th bc-header-cell *headerCellDef>{{ 'DOMAIN_OF_INFLUENCE.TITLE' | translate }}</th>
    <td bc-data-cell *dataCellDef="let element">{{ 'DOMAIN_OF_INFLUENCE_TYPES.' + element.domainOfInfluence.type |
      translate }}</td>
  </ng-container>

  <ng-container columnDef="politicalBusinessType">
    <th bc-header-cell *headerCellDef>{{ 'POLITICAL_BUSINESS.TYPE.TITLE' | translate }}</th>
    <td bc-data-cell *dataCellDef="let element">{{ 'POLITICAL_BUSINESS.TYPE.' + element.businessType | translate
      }}</td>
  </ng-container>

  <ng-container columnDef="token">
    <th bc-header-cell *headerCellDef>{{ 'EXPORT_COCKPIT.POLITICAL_BUSINESS_METADATA.TOKEN' | translate }}</th>
    <td bc-data-cell *dataCellDef="let element"><bc-text [value]="getToken(element.id)"
        (valueChange)="setToken(element.id, $event)"
        [subscriptSizing]="'dynamic'"></bc-text></td>
  </ng-container>

  <tr bc-header-row *headerRowDef="let row; columns: columns"></tr>
  <tr bc-data-row *dataRowDef="let row; columns: columns; let i = index"></tr>
</bc-table>
