@if (lotDecisions.lotDecisions.length > 0) {
  @if (showTitle) {
    <h4 class="mt-4 mb-2">{{lotDecisions.election.title}}</h4>
  }
  <div class="candidate-results">
    <bc-label [label]="'ELECTION.CANDIDATE.RANK' | translate"></bc-label>
    <bc-label [label]="'ELECTION.CANDIDATE.NUMBER' | translate"></bc-label>
    <bc-label class="candidate-name" [label]="'ELECTION.CANDIDATE.CANDIDACY' | translate"></bc-label>
    <bc-label [label]="'ELECTION.CANDIDATE.PARTY' | translate"></bc-label>
    <bc-label [label]="'ELECTION.VOTE_COUNT' | translate"></bc-label>
    <bc-label [label]="'ELECTION.CANDIDATE.RANK_AFTER_LOT_DECISION' | translate"></bc-label>
    <bc-label [label]="'ELECTION.CANDIDATE.LOT_DECISION_REQUIRED' | translate"></bc-label>

    @for (lotDecision of lotDecisions.lotDecisions; track lotDecision) {
      <span>{{lotDecision.originalRank}}</span>
      <span>{{lotDecision.candidate.number}}</span>
      <vo-ausm-majority-election-candidacy-info class="candidate-name" [candidate]="lotDecision.candidate"></vo-ausm-majority-election-candidacy-info>
      <span>{{lotDecision.candidate.party}}</span>
      <span>{{lotDecision.voteCount}}</span>
      <ng-container *ngTemplateOutlet="rankDropdownTemplate; context: {$implicit: lotDecision}"></ng-container>
      <span>{{(lotDecision.lotDecisionRequired ? 'APP.YES' : 'APP.NO') | translate}}</span>
    }
  </div>

  <ng-template #rankDropdownTemplate let-lotDecision>
    <span>
      <bc-dropdown #rankDropdownInput
        [value]="lotDecision.selectedRank"
        (valueChange)="updateSelectedRank(lotDecision, $event)"
        valueExpr="value"
        displayExpr="description"
        [items]="lotDecision.selectableRanks"
        [disabled]="disabled"
        [subscriptSizing]="'dynamic'"></bc-dropdown>
    </span>
  </ng-template>
}
