<div class="flex">
  <bc-switch
    [label]="'MONITORING_POLITICAL_BUSINESSES_OVERVIEW.ALL_FIELDS' | translate"
    [checked]="allColumns.length === columnsToDisplay.length"
    (checkedChange)="toggleAllFields($event)"
  ></bc-switch>
  <bc-columns [columns]="allColumns" (columnsToggled)="onColumnsToggled($event)"></bc-columns>
</div>

<bc-table [sticky]="true" filter sort [sortActive]="[{ id: countingCircleColumn, direction: 'asc' }]" [dataSource]="dataSource">
  <ng-container [columnDef]="stateColumn">
    <th bc-header-cell filter filterType="list" [filterItems]="stateList"
                    filterDisplayExpr="description" filterValueExpr="value" sort *headerCellDef>
      {{ 'MONITORING_POLITICAL_BUSINESSES_OVERVIEW.STATE' | translate }}
    </th>
    <td bc-data-cell *dataCellDef="let element">
      <div class="state-colorbox"
           [ngClass]="'result-state-' + element.state">
        {{ (element.state === countingCircleResultState.COUNTING_CIRCLE_RESULT_STATE_AUDITED_TENTATIVELY ? element.auditedTentativelyTimestamp : (element.state === countingCircleResultState.COUNTING_CIRCLE_RESULT_STATE_PLAUSIBILISED ? element.plausibilisedTimestamp : (element.state === countingCircleResultState.COUNTING_CIRCLE_RESULT_STATE_READY_FOR_CORRECTION ? element.readyForCorrectionTimestamp : element.submissionDoneTimestamp))) | date: 'mediumTime' }}
      </div>
    </td>
  </ng-container>
  <ng-container [columnDef]="countingCircleColumn">
    <th bc-header-cell filter filterType="text" sort *headerCellDef>{{ 'MONITORING_POLITICAL_BUSINESSES_OVERVIEW.COUNTING_CIRCLE' | translate }}</th>
    <td bc-data-cell *dataCellDef="let element">{{ countingCirclesById[element.countingCircleId].countingCircle.name }}</td>
  </ng-container>
  <ng-container [columnDef]="receivedBallotsColumn">
    <th bc-header-cell filter filterType="number" sort *headerCellDef class="small-filter">{{ 'MONITORING_POLITICAL_BUSINESSES_OVERVIEW.RECEIVED_BALLOTS' | translate }}</th>
    <td bc-data-cell *dataCellDef="let element">{{ element.countOfVoters.totalReceivedBallots }}</td>
  </ng-container>
  <ng-container [columnDef]="blankBallotsColumn">
    <th bc-header-cell filter filterType="number" sort *headerCellDef class="small-filter">{{ 'MONITORING_POLITICAL_BUSINESSES_OVERVIEW.BLANK_BALLOTS' | translate }}</th>
    <td bc-data-cell *dataCellDef="let element">{{ element.countOfVoters.totalBlankBallots }}</td>
  </ng-container>
  <ng-container [columnDef]="invalidBallotsColumn">
    <th bc-header-cell filter filterType="number" sort *headerCellDef class="small-filter">{{ 'MONITORING_POLITICAL_BUSINESSES_OVERVIEW.INVALID_BALLOTS' | translate }}</th>
    <td bc-data-cell *dataCellDef="let element">{{ element.countOfVoters.totalInvalidBallots }}</td>
  </ng-container>
  <ng-container [columnDef]="accountedBallotsColumn">
    <th bc-header-cell filter filterType="number" sort *headerCellDef class="small-filter">{{ 'MONITORING_POLITICAL_BUSINESSES_OVERVIEW.ACCOUNTED_BALLOTS' | translate }}</th>
    <td bc-data-cell *dataCellDef="let element">{{ element.countOfVoters.totalAccountedBallots }}</td>
  </ng-container>
  <ng-container [columnDef]="totalCountOfVotersColumn">
    <th bc-header-cell filter filterType="number" sort *headerCellDef class="small-filter">{{ 'MONITORING_POLITICAL_BUSINESSES_OVERVIEW.TOTAL_COUNT_OF_VOTERS' | translate }}</th>
    <td bc-data-cell *dataCellDef="let element">{{ getTotalCountOfVoters(countingCirclesById[element.countingCircleId].details.countOfVotersInformationSubTotals)}}</td>
  </ng-container>
  <ng-container [columnDef]="votingCardsBallotBoxColumn">
    <th bc-header-cell filter filterType="number" sort *headerCellDef class="small-filter">{{ 'MONITORING_POLITICAL_BUSINESSES_OVERVIEW.VOTING_CARDS_BALLOT_BOX' | translate }}</th>
    <td bc-data-cell *dataCellDef="let element">{{ getVotingCardsValue(countingCirclesById[element.countingCircleId].details.votingCards, votingChannel.VOTING_CHANNEL_BALLOT_BOX, true) }}</td>
  </ng-container>
  <ng-container [columnDef]="votingCardsPaperColumn">
    <th bc-header-cell filter filterType="number" sort *headerCellDef class="small-filter">{{ 'MONITORING_POLITICAL_BUSINESSES_OVERVIEW.VOTING_CARDS_PAPER' | translate }}</th>
    <td bc-data-cell *dataCellDef="let element">{{ getVotingCardsValue(countingCirclesById[element.countingCircleId].details.votingCards, votingChannel.VOTING_CHANNEL_PAPER, true) }}</td>
  </ng-container>
  <ng-container [columnDef]="votingCardsByMailValidColumn">
    <th bc-header-cell filter filterType="number" sort *headerCellDef class="small-filter">{{ 'MONITORING_POLITICAL_BUSINESSES_OVERVIEW.VOTING_CARDS_BY_MAIL_VALID' | translate }}</th>
    <td bc-data-cell *dataCellDef="let element">{{ getVotingCardsValue(countingCirclesById[element.countingCircleId].details.votingCards, votingChannel.VOTING_CHANNEL_BY_MAIL, true) }}</td>
  </ng-container>
  <ng-container [columnDef]="votingCardsByMailInvalidColumn">
    <th bc-header-cell filter filterType="number" sort *headerCellDef class="small-filter">{{ 'MONITORING_POLITICAL_BUSINESSES_OVERVIEW.VOTING_CARDS_BY_MAIL_INVALID' | translate }}</th>
    <td bc-data-cell *dataCellDef="let element">{{ getVotingCardsValue(countingCirclesById[element.countingCircleId].details.votingCards, votingChannel.VOTING_CHANNEL_BY_MAIL, false) }}</td>
  </ng-container>
  <ng-container [columnDef]="mainBallotTotalCountYesColumn">
    <th bc-header-cell filter filterType="number" sort *headerCellDef class="small-filter">{{ 'MONITORING_POLITICAL_BUSINESSES_OVERVIEW.MAIN_BALLOT_TOTAL_COUNT_YES' | translate }}</th>
    <td bc-data-cell *dataCellDef="let element" [class.winning]="element.mainBallotTotalCountYes > element.mainBallotTotalCountNo">{{ element.mainBallotTotalCountYes }}</td>
  </ng-container>
  <ng-container [columnDef]="mainBallotTotalCountNoColumn">
    <th bc-header-cell filter filterType="number" sort *headerCellDef class="small-filter">{{ 'MONITORING_POLITICAL_BUSINESSES_OVERVIEW.MAIN_BALLOT_TOTAL_COUNT_NO' | translate }}</th>
    <td bc-data-cell *dataCellDef="let element" [class.losing]="element.mainBallotTotalCountYes < element.mainBallotTotalCountNo">{{ element.mainBallotTotalCountNo }}</td>
  </ng-container>
  <ng-container [columnDef]="mainBallotTotalCountUnspecifiedColumn">
    <th bc-header-cell filter filterType="number" sort *headerCellDef class="small-filter">{{ 'MONITORING_POLITICAL_BUSINESSES_OVERVIEW.MAIN_BALLOT_TOTAL_COUNT_UNSPECIFIED' | translate }}</th>
    <td bc-data-cell *dataCellDef="let element">{{ element.mainBallotTotalCountUnspecified }}</td>
  </ng-container>
  <ng-container [columnDef]="counterProposal1TotalCountYesColumn">
    <th bc-header-cell filter filterType="number" sort *headerCellDef class="small-filter">{{ 'MONITORING_POLITICAL_BUSINESSES_OVERVIEW.COUNTER_PROPOSAL_1_TOTAL_COUNT_YES' | translate }}</th>
    <td bc-data-cell *dataCellDef="let element" [class.winning]="element.counterProposal1TotalCountYes > element.counterProposal1TotalCountNo">{{ element.counterProposal1TotalCountYes }}</td>
  </ng-container>
  <ng-container [columnDef]="counterProposal1TotalCountNoColumn">
    <th bc-header-cell filter filterType="number" sort *headerCellDef class="small-filter">{{ 'MONITORING_POLITICAL_BUSINESSES_OVERVIEW.COUNTER_PROPOSAL_1_TOTAL_COUNT_NO' | translate }}</th>
    <td bc-data-cell *dataCellDef="let element" [class.losing]="element.counterProposal1TotalCountYes < element.counterProposal1TotalCountNo">{{ element.counterProposal1TotalCountNo }}</td>
  </ng-container>
  <ng-container [columnDef]="counterProposal1TotalCountUnspecifiedColumn">
    <th bc-header-cell filter filterType="number" sort *headerCellDef class="small-filter">{{ 'MONITORING_POLITICAL_BUSINESSES_OVERVIEW.COUNTER_PROPOSAL_1_TOTAL_COUNT_UNSPECIFIED' | translate }}</th>
    <td bc-data-cell *dataCellDef="let element">{{ element.counterProposal1TotalCountUnspecified }}</td>
  </ng-container>
  <ng-container [columnDef]="counterProposal2TotalCountYesColumn">
    <th bc-header-cell filter filterType="number" sort *headerCellDef class="small-filter">{{ 'MONITORING_POLITICAL_BUSINESSES_OVERVIEW.COUNTER_PROPOSAL_2_TOTAL_COUNT_YES' | translate }}</th>
    <td bc-data-cell *dataCellDef="let element" [class.winning]="element.counterProposal2TotalCountYes > element.counterProposal2TotalCountNo">{{ element.counterProposal2TotalCountYes }}</td>
  </ng-container>
  <ng-container [columnDef]="counterProposal2TotalCountNoColumn">
    <th bc-header-cell filter filterType="number" sort *headerCellDef class="small-filter">{{ 'MONITORING_POLITICAL_BUSINESSES_OVERVIEW.COUNTER_PROPOSAL_2_TOTAL_COUNT_NO' | translate }}</th>
    <td bc-data-cell *dataCellDef="let element" [class.losing]="element.counterProposal2TotalCountYes < element.counterProposal2TotalCountNo">{{ element.counterProposal2TotalCountNo }}</td>
  </ng-container>
  <ng-container [columnDef]="counterProposal2TotalCountUnspecifiedColumn">
    <th bc-header-cell filter filterType="number" sort *headerCellDef class="small-filter">{{ 'MONITORING_POLITICAL_BUSINESSES_OVERVIEW.COUNTER_PROPOSAL_2_TOTAL_COUNT_UNSPECIFIED' | translate }}</th>
    <td bc-data-cell *dataCellDef="let element">{{ element.counterProposal2TotalCountUnspecified }}</td>
  </ng-container>
  <ng-container [columnDef]="tieBreak1TotalCountYesColumn">
    <th bc-header-cell filter filterType="number" sort *headerCellDef class="small-filter">{{ 'MONITORING_POLITICAL_BUSINESSES_OVERVIEW.TIE_BREAK_1_TOTAL_COUNT_YES' | translate }}</th>
    <td bc-data-cell *dataCellDef="let element" [class.winning]="element.tieBreak1TotalCountYes > element.tieBreak1TotalCountNo">{{ element.tieBreak1TotalCountYes }}</td>
  </ng-container>
  <ng-container [columnDef]="tieBreak1TotalCountNoColumn">
    <th bc-header-cell filter filterType="number" sort *headerCellDef class="small-filter">{{ 'MONITORING_POLITICAL_BUSINESSES_OVERVIEW.TIE_BREAK_1_TOTAL_COUNT_NO' | translate }}</th>
    <td bc-data-cell *dataCellDef="let element" [class.losing]="element.tieBreak1TotalCountYes < element.tieBreak1TotalCountNo">{{ element.tieBreak1TotalCountNo }}</td>
  </ng-container>
  <ng-container [columnDef]="tieBreak1TotalCountUnspecifiedColumn">
    <th bc-header-cell filter filterType="number" sort *headerCellDef class="small-filter">{{ 'MONITORING_POLITICAL_BUSINESSES_OVERVIEW.TIE_BREAK_1_TOTAL_COUNT_UNSPECIFIED' | translate }}</th>
    <td bc-data-cell *dataCellDef="let element">{{ element.tieBreak1TotalCountUnspecified }}</td>
  </ng-container>
  <ng-container [columnDef]="tieBreak2TotalCountYesColumn">
    <th bc-header-cell filter filterType="number" sort *headerCellDef class="small-filter">{{ 'MONITORING_POLITICAL_BUSINESSES_OVERVIEW.TIE_BREAK_2_TOTAL_COUNT_YES' | translate }}</th>
    <td bc-data-cell *dataCellDef="let element" [class.winning]="element.tieBreak2TotalCountYes > element.tieBreak2TotalCountNo">{{ element.tieBreak2TotalCountYes }}</td>
  </ng-container>
  <ng-container [columnDef]="tieBreak2TotalCountNoColumn">
    <th bc-header-cell filter filterType="number" sort *headerCellDef class="small-filter">{{ 'MONITORING_POLITICAL_BUSINESSES_OVERVIEW.TIE_BREAK_2_TOTAL_COUNT_NO' | translate }}</th>
    <td bc-data-cell *dataCellDef="let element" [class.losing]="element.tieBreak2TotalCountYes < element.tieBreak2TotalCountNo">{{ element.tieBreak2TotalCountNo }}</td>
  </ng-container>
  <ng-container [columnDef]="tieBreak2TotalCountUnspecifiedColumn">
    <th bc-header-cell filter filterType="number" sort *headerCellDef class="small-filter">{{ 'MONITORING_POLITICAL_BUSINESSES_OVERVIEW.TIE_BREAK_2_TOTAL_COUNT_UNSPECIFIED' | translate }}</th>
    <td bc-data-cell *dataCellDef="let element">{{ element.tieBreak2TotalCountUnspecified }}</td>
  </ng-container>
  <ng-container [columnDef]="tieBreak3TotalCountYesColumn">
    <th bc-header-cell filter filterType="number" sort *headerCellDef class="small-filter">{{ 'MONITORING_POLITICAL_BUSINESSES_OVERVIEW.TIE_BREAK_3_TOTAL_COUNT_YES' | translate }}</th>
    <td bc-data-cell *dataCellDef="let element" [class.winning]="element.tieBreak3TotalCountYes > element.tieBreak3TotalCountNo">{{ element.tieBreak3TotalCountYes }}</td>
  </ng-container>
  <ng-container [columnDef]="tieBreak3TotalCountNoColumn">
    <th bc-header-cell filter filterType="number" sort *headerCellDef class="small-filter">{{ 'MONITORING_POLITICAL_BUSINESSES_OVERVIEW.TIE_BREAK_3_TOTAL_COUNT_NO' | translate }}</th>
    <td bc-data-cell *dataCellDef="let element" [class.losing]="element.tieBreak3TotalCountYes < element.tieBreak3TotalCountNo">{{ element.tieBreak3TotalCountNo }}</td>
  </ng-container>
  <ng-container [columnDef]="tieBreak3TotalCountUnspecifiedColumn">
    <th bc-header-cell filter filterType="number" sort *headerCellDef class="small-filter">{{ 'MONITORING_POLITICAL_BUSINESSES_OVERVIEW.TIE_BREAK_3_TOTAL_COUNT_UNSPECIFIED' | translate }}</th>
    <td bc-data-cell *dataCellDef="let element">{{ element.tieBreak3TotalCountUnspecified }}</td>
  </ng-container>
  <tr bc-header-row *headerRowDef="let row; columns: columnsToDisplay"></tr>
  <tr bc-data-row *dataRowDef="let row; columns: columnsToDisplay; let i = index"
               class="clickable"
               (click)="openDetail(row.countingCircleId, row.politicalBusinessId)"></tr>
  <ng-template noDataRow>
    <tr class="bc-row-data">
      <td class="bc-cell" colspan="5" translate>MONITORING_POLITICAL_BUSINESSES_OVERVIEW.NO_COUNTING_CIRCLES</td>
    </tr>
  </ng-template>
</bc-table>
