@use '@abraxas/voting-lib/style/color' as *;
@use '@abraxas/voting-lib/style/spacing' as *;

.stepper {
  display: flex;
  align-items: center;
  position: relative;

  mat-horizontal-stepper {
    margin: auto;
  }

  vo-ausm-admonition {
    position: absolute;
    right: 0;
  }
}

.calculation-spinner {
  @extend .mb-2;

  text-align: right;
}
